{% extends 'base.html.twig' %}

{% block title %}Modifier le stock{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>✏️ Modifier le stock</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-2">Mettre à jour</button>
        {{ form_end(form) }}

        <p class="mt-3">
            <a class="btn btn-secondary btn-small" href="{{ path('app_inventory_index') }}">← Retour à l'inventaire</a>
        </p>
    </div>
{% endblock %}
